/* BLOCCO LEZIONI */

@media screen and (max-width: 768px){
    .row {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 25px;
    }

    #lezioni .row{
        flex-direction: column;
        align-items: center;
    }

    #lezioni .row>.left,
    #lezioni .row>.right{
        padding: 20px 0;
    }

    #lezioni .row>.left>img,
    #lezioni .row>.right>img {
        width: 100%;
        object-fit: contain;
    }

    #steps .row > h1{
        width: 60%;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: left;
        width: 45%;
        padding: 20px 10px;
    }
}

@media screen and (max-width: 420px){
   
    #lezioni .row>.left,
    #lezioni .row>.right {
        float: none;
        margin: auto;
    }

    #lezioni .row>.left>img,
    #lezioni .row>.right>img{
        width: 100%;
        object-fit: contain;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        width: 70%;
        margin: auto;
        padding: 20px 0;
    }

    .row {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

}