/* BLOCCO LEZIONI */

@media screen and (max-width: 420px){
   
    #lezioni .row>.left,
    #lezioni .row>.right {
        float: none;
        margin: auto;
    }

    #lezioni .row>.left>img,
    #lezioni .row>.right>img{
        width: 100%;
        object-fit: contain;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        width: 70%;
        margin: auto;
        padding: 20px 0;
    }

    .row {
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

}